@model Frontend.Models.RssFeedsViewModel

    <ul>
        @foreach(var RssFeed in Model.RssFeeds)
        {
        <li>
            @* TODO make {10} from form *@
            @Html.ActionLink(@RssFeed.Title, null, $"RssFeed/{RssFeed.Id}/{10}", null)
        </li>
        }
    </ul>
